#name {
    font-family: "Chillen";
    font-weight: 400;
    font-style: normal;
}

.header {
    background-color: white;
    display: flex;
}

.logSignIn {
    margin-left: auto;
    margin-right: 2%;
    display: flex;
    margin-bottom: 2px;
}

.logSignIn2 {
    margin-right: 2%;
    display: flex;
}

.logIn {
    border-style: none;
    background-color: #f7ad4c;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    justify-content: center;
    line-height: 0px;
    
    &:hover {
        background-color: #fee2bd;
        color: rgb(0, 0, 0);
    }
}

.signIn {
    background-color: transparent;
    border-style: none;
    color: rgb(247, 173, 76);
    margin-top: 20%;
    margin-bottom: 20%;
    // padding: 10px 10px;
    // height: 3px;

    &:hover {
        color: rgb(247, 173, 76);
        // border-bottom: 1px solid #f7ad4c ;
    }
}

.foodCornerHeader {
    font-size: 30px;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 3px;
}

// au cas ou qu'on en as besoin
// .username {
//     margin-left: auto;
//     margin-right: 5%;
//     margin-top: 10px;
//     margin-bottom: 10px;
//     color: #f7ad4c;
//     border-bottom: 1px solid #f7ad4c;

//     &:hover {
//         cursor: pointer;
//     }
// }