#name {
    font-family: "Chillen";
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.header {
    display: flex;
    align-items: center;
    background-color: white;
    display: flex;
  }

  .logSignIn {
    margin-left: auto;
    margin-right: 2%;
    margin-bottom: 2px;
  }

  .logSignIn2 {
    margin-right: 2%;
  }

  .logIn {
    border-style: none;
    background-color: #f7ad4c;
    color: white;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 20px;
    font-size: 18px;
    transition: all .1s;

    &:hover {
      background-color: #e79f3f;
      cursor: pointer;
    }
}

.signIn {
    background-color: transparent;
    border-style: none;
    color: rgb(247, 173, 76);
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 18px;

    &:hover {
      color: rgb(247, 173, 76);
      cursor: pointer;
      text-decoration: underline;
    }
}

.foodCornerHeader {
    font-size: 30px;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 3px;
}

// au cas ou qu'on en as besoin
// .username {
//     margin-left: auto;
//     margin-right: 5%;
//     margin-top: 10px;
//     margin-bottom: 10px;
//     color: #f7ad4c;
//     border-bottom: 1px solid #f7ad4c;

//     &:hover {
//         cursor: pointer;
//     }
// }
