<footer class="footer">
  <div class="title">
    <p class="foodCornerFooter" id="name">Food corner</p>
  </div>

  <ul class="listeFooter">
      <li><button class="listeFooterButton">FAQ</button></li>
      <li><button class="listeFooterButton">Contact</button></li>
      <li><button class="listeFooterButton">Conditions générales</button></li>
      <li><button class="listeFooterButton">Mentions légales</button></li>
  </ul>

  <div class="socials">
    <div></div>
    <div></div>
    <div></div>
  </div>
</footer>
