#name {
    font-family: "Chillen";
    font-weight: 400;
    font-style: normal;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-content: center;

    padding: 50px;

    background-color: #fee2bd;
    color: #f7ad4c;
}

.title {
  display: flex;
  align-items: center;
}

.listeFooter {
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style: none;

    button:hover {
      cursor: pointer;
      text-decoration: underline;
    }
}

.foodCornerFooter {
    font-size: 60px;
}

.listeFooterButton {
    color: #f7ad4c;
    font-size: 20px;
    border-style: none;
    background-color: transparent;
}

.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;

  div {
    width: 50px;
    height: 50px;

    background-color: #ffffff;
    border-radius: 50px;

    &:hover {
      cursor: pointer;
    }
  }
}
