input {
  border-radius: 25px;
  margin-bottom: 10px;
  padding: 3px;
  width: 250px;
}

button {
  border-radius: 50%;
  background-color: #f7ad4c;
  border: 0;
  margin: 15px;
  padding: 3px;
  cursor: pointer;
}
lucide-icon {
  color: white;
}
