// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
//   margin-top: 250px;
//   align-items: center;
// }

// .title {
//   margin-bottom: 10px;
// }
// input {
//   border-radius: 25px;
//   margin-bottom: 0px;
//   padding: 3px;
//   width: 350px;
// }

// button {
//   border-radius: 50%;
//   background-color: #f7ad4c;
//   border: 0;
//   margin: 10px;
//   margin-right: 55px;
//   padding: 2px;
//   cursor: pointer;
// }
// lucide-icon {
//   color: white;
// }
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 150px;
  background-image: url(../../../public/img/image.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.title {
  margin-top: 200px;
  margin-right: 55px;
}

.input-button-wrapper {
  display: flex;
  align-items: center;
  margin-right: 55px;
  margin-top: 50px;
}

input {
  border-radius: 25px;
  margin-bottom: 0;
  padding: 3px;
  width: 350px;
}

button {
  border-radius: 50%;
  background-color: #f7ad4c;
  border: 0;
  margin-left: 10px;
  padding: 2px;
  cursor: pointer;
}

lucide-icon {
  color: white;
}
