@font-face {
  font-family: "Chillen";
  src: url("../../../public/font/Chillen.ttf"); /* Ajustez le chemin et le format si nécessaire */
  font-weight: normal;
  font-style: normal;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-image: url("../../../public/img/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 850px;
}

.title {
  margin-top: auto;
  margin-right: 55px;
  font-family: "Chillen";
}

#name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

span {
  font-family: "Chillen";
  font-weight: 400;
  font-style: normal;
  font-size: 50px;

  &:nth-child(2) {
    font-size: 90px;
  }
}

.input-button-wrapper {
  display: flex;
  align-items: center;
  margin-right: 55px;
  margin-top: 50px;
  margin-bottom: auto;
}

input {
  border-radius: 25px;
  margin-bottom: 0;
  padding: 10px 20px;
  width: 400px;
  border-style: solid;
  font-size: 20px;
}

button {
  border-radius: 50%;
  background-color: #f7ad4c;
  border: 0;
  margin-left: 10px;
  padding: 2px;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.button-click {
  transition: all .2s;

  &:active {
    transform: scale(0.9);
  }
}

lucide-icon {
  color: white;
  size: 64;
}

/* Media queries */
@media (max-width: 768px) {
  .container {
    align-items: flex-end;
    margin-top: 100px;

    height: auto; /* Ajustez la hauteur pour les petits écrans */
  }

  .title {
    margin-top: 50px;
    margin-right: 50;
    text-align: center;
  }

  .input-button-wrapper {
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    margin-top: 20px;
  }

  input {
    width: 100%; /* S'adapte à la largeur de l'écran */
    max-width: 300px;
  }

  button {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .container {
    margin-top: 50px;
  }

  .title {
    margin-top: 20px;
    font-size: 1em; /* Ajustez la taille de la police pour les très petits écrans */
    margin-left: 150px;
  }

  span {
    font-family: "Chillen";
    font-weight: 300;
    font-style: normal;

    &:nth-child(2) {
      font-size: 30px;
    }
  }

  input {
    max-width: 250px;
  }
}
